<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties resource="config/db.properties"></properties>

	<settings>
		<!-- column명과 property명이 Camel Case, Snake Case로만 다를 경우 resultMap을 안 써도 이 코드 쓰면 알아서 바꿔줌 /김주영-->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		<setting name="cacheEnabled" value="false" />
        <!-- jdbcTypeForNull 사용하면 jdbcType=VARCHAR 컬럼명마다 사용해야되는것을 생략  -->
        <setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="co.yedam.otd.notice.vo.NoticeVO" alias="NoticeVO" /> <!-- 공지사항 VO 경로 typeAliases /김주영 -->
		<typeAlias type="co.yedam.otd.review.vo.ReviewVO" alias="ReviewVO" /> <!-- 리뷰게시판 VO 경로 typeAliases /김주영 -->
		<!-- MemberVO  -->
  		<typeAlias type="co.yedam.otd.member.vo.MemberVO" alias="MemberVO"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper 추가 영역 -->
	<mappers>
		<mapper resource="co/yedam/otd/notice/serviceImpl/notice-map.xml" /> <!-- 공지사항 매퍼 /김주영 -->
		<mapper resource="co/yedam/otd/review/serviceImpl/review-map.xml" /> <!-- 리뷰게시판 매퍼 /김주영 -->
		<mapper resource="co/yedam/otd/member/serviceImpl/member-map.xml"/>
		<mapper resource="co/yedam/otd/event/serviceImpl/event-map.xml" /> <!-- 이벤트 매퍼 /김주영 -->
		<mapper resource="co/yedam/otd/faq/serviceImpl/faq-map.xml" /> <!-- FAQ 매퍼 /김주영 -->
	</mappers>
</configuration>